#script location /usr/local/sbin/clean-n-sleep.sh
#service location /etc/systemd/system/clean-n-sleep.service
#sudo systemctl enable clean-n-sleep.service
#sudo systemctl start clean-n-sleep.service
[Unit]
Description=Clean-n-sleep
Before=sleep.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/clean-n-sleep.sh

[Install]
WantedBy=sleep.target