[Unit]
Description=Turning i3lock on before sleep
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -e -f -c 000000 -i /home/yiannis/.config/wall.png -t
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
